body {
    background-color: rgb(155, 221, 221);
}

nav {
    background-color: rgb(45, 248, 248);
    display: flex;
}

.icon {
    width: 145px;
}

.h1class {
    text-align: center;
    width: 77%;
    height: 150px;
    font-size: 166%;
    color: rgb(11, 117, 210);
    text-shadow: 2px 2px 3px rgb(18, 23, 26);
}

.sec1 {
    display: flex;
    justify-content: center;
}

.rightsideh1 {
    margin: 20px;
    text-align: center;
    /* font-size: 170%; */
}

.rightsideh3 {
    margin: 30px;
    /* font-size: 2.7rem;
    background-color: #0101f7;
    color: white; */
    padding: 5px;
}

.imgflag{
    width: 300px;
    height: 250px;
    border-radius: 1px 1px 30px;
}

.clsFooter{
    text-align: center;
    background-color: rgb(167, 232, 247);
    font-size: x-large;
    font-weight: bold;
    padding: 2px;
}
.clsUL{
display: flex;
justify-content: space-around;
font-size: large;
color: blueviolet;
}

.clsUL :hover{
     text-decoration: underline;
    color: red;
}
.clsFooter :hover{
     text-decoration: underline;
}